/* Detail Service*/
.detail-service {
    margin-left:6.5rem;
    
}
.wrapper-content-detail{
    display: flex;
    justify-content: space-between;
}
.include-service h2,.not-include-service h2{
    font-size:2.5rem;
}
.detail-header li,.include-service li,.not-include-service li{
    font-size:1.5rem;
}
.detail-header h1{
    font-size: 3rem;
    margin:0;
    
}
.detail-header::after,.include-service::after {
    display: block;
    content: "";
    width:100%;
    height:1px;
    background-color:#EEEEEE;
}
.wrapper-detail-price {
    width:30%;
    height:36rem;
    margin-top:1rem;
    box-shadow: -1px -2px 6px 0px rgba(0,0,0,0.75);
    text-align: center;
}
.detail-price {
    text-align: left;
    background-color:#fff;
    padding:20px;
}
.detail-price p:nth-child(2){
    font-size: 2.8rem;
    margin:0;
}
.detail-price p:nth-child(3){
    font-size: 1.9rem;
    margin:0;
    color:rgba(146, 146, 146, 0.8);
}
.detail-price p:nth-child(4){
    font-size: 1.3rem;
    margin-top:5rem;
}
.detail-card-location{
    font-size: 2rem;
}
.call-phone {
    display: block;
    width:80%;
    padding:1.8rem;
    background-color: #FF5722;
    color:#fff;
    font-size:1.3rem;
    margin:0 auto;
    cursor: pointer;
    margin-bottom:5px;
}
.email-now {
    display: block;
    width:80%;
    padding:1.8rem;
    background-color: #05861a;
    color:#fff;
    font-size:1.3rem;
    margin:0 auto;
    cursor: pointer;
}
.call-phone a {
    transform: rotateZ(-45deg);
}
/* End Detail Services*/